* {
	padding: 0;
	margin: 0;
}
.container-centered {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 50vh;
	border: 5px double black;
}
.panel {
	border: 1px solid black;
	text-align: center;
	padding: 20px;
}
.size-1 {
	flex-grow: 1;
}
.size-2 {
	flex-grow: 1;
}

.blue { background-color: blue; }
.yellow { background-color: yellow; }
.red { background-color: red; }
.green { background-color: green; }

/*
display: 
	flex;
flex-direction: 
	row|row-reverse|column|column-reverse;
justify-content: 
	flex-start|flex-end|center|spacebetween|space-around;
align-items: 
	stretch|flex-start|flex-end|center|baseline;

*/