<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="logo">Layout</div>
	</header>
	<nav class="nav-horizontal">
		<ul>
			<li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
			<li><a href="stock.html"><i class="fa fa-table"></i>Stock</a></li>
			<li><a href="contacto.html"><i class="fa fa-envelope"></i>Contact</a></li>
		</ul>
	</nav>
	<section class="front-articles">
		<h1>Formulario de contacto</h1>
		<div class="panel">
			<form action="">
				<fieldset>
					<label for="nombre"><i class="fa fa-user"></i>Nombre</label>
					<input type="text" name="nombre" id="nombre" placeholder="Tu nombre de pila" required>	
				</fieldset>
				<fieldset>
					<label for="apellidos"><i class="fa fa-user-tag"></i>Apellidos</label>
					<input type="text" name="apellidos" id="apellidos" placeholder="Tus dos apellidos" required>
				</fieldset>
				<fieldset>
					<label for="email"><i class="fa fa-envelope"></i>E-mail</label>
					<input type="email" name="email" id="email" placeholder="Tu correo electrónico">
				</fieldset>
				<fieldset>
					<label for="pais"><i class="fa fa-globe"></i>País</label>
					<select name="pais" id="pais" required>
						<option value=""></option>
						<option value="es">España</option>
						<option value="uk">Reino Unido</option>
						<option value="usa">Estados Unidos</option>
					</select>
				</fieldset>
				<fieldset>
					<label for="sexo"><i class="fa fa-user-circle "></i>Sexo</label>
					<input type="radio" name="sexo" id="hombre" value="hombre">Hombre
					<input type="radio" name="sexo" id="mujer" value="mujer">Mujer
				</fieldset>
				<fieldset>
					<label for="lenguajes"><i class="fa fa-code "></i>Lenguajes</label>
					<input type="checkbox" name="lenguajes" id="java" value="java">Java
					<input type="checkbox" name="lenguajes" id="csharp" value="csharp">C#
					<input type="checkbox" name="lenguajes" id="js" value="js">JS
				</fieldset>
				<fieldset>
					<label for="mensaje"><i class="fa fa-comment"></i>Mensaje</label>
					<textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
				</fieldset>
				<fieldset class="text-center">
					<input type="submit" class="btn btn-gradient" name="Enviar">	
				</fieldset>
				
			</form>
		</div>
	</section>
	<aside>
		<h2>Síguenos en Twitter</h2>
		<a class="twitter-timeline" data-lang="es" data-height="800" data-link-color="#589E47" href="https://twitter.com/NASA?ref_src=twsrc%5Etfw">Tweets by NASA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
	</aside>
	<div class="clearfix"></div>
	<footer>
		
	</footer>
</body>
</html>