<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="logo">Layout</div>
	</header>
	<nav class="nav-horizontal">
		<ul>
			<li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
			<li><a href="stock.html"><i class="fa fa-table"></i>Stock</a></li>
			<li><a href="contacto.html"><i class="fa fa-envelope"></i>Contact</a></li>
		</ul>
	</nav>
	<section class="front-articles">
		<article>
			<h2>Article #1</h2>
			<div class="article-image">
				<img src="https://placeimg.com/600/400/people" alt=""  class="responsive">
			</div>
			<div class="article-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi incidunt quaerat illum quis ea, voluptatibus voluptates illo repudiandae quidem adipisci dolorum ipsam dignissimos, minima excepturi ab minus praesentium voluptatum quam.</p>
				<a href="#">Leer más...</a>
			</div>
			<div class="clearfix"></div>
		</article>
		<article>
			<h2>Article #2</h2>
			<div class="article-image">
				<img src="https://placeimg.com/600/400/people" alt="" class="responsive">
			</div>
			<div class="article-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi incidunt quaerat illum quis ea, voluptatibus voluptates illo repudiandae quidem adipisci dolorum ipsam dignissimos, minima excepturi ab minus praesentium voluptatum quam.</p>
				<a href="#">Leer más...</a>
			</div>
			<div class="clearfix"></div>
		</article>
		<article>
			<h2>Article #3</h2>
			<div class="article-image">
				<img src="https://placeimg.com/600/400/people" alt="" class="responsive">
			</div>
			<div class="article-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi incidunt quaerat illum quis ea, voluptatibus voluptates illo repudiandae quidem adipisci dolorum ipsam dignissimos, minima excepturi ab minus praesentium voluptatum quam.</p>
				<a href="#">Leer más...</a>
			</div>
			<div class="clearfix"></div>
		</article>
	</section>
	<aside>
		<h2>Síguenos en Twitter</h2>
		<a class="twitter-timeline" data-lang="es" data-height="800" data-link-color="#589E47" href="https://twitter.com/NASA?ref_src=twsrc%5Etfw">Tweets by NASA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
	</aside>
	<div class="clearfix"></div>
	<footer>
		
	</footer>
</body>
</html>