<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="logo">Layout</div>
	</header>
	<nav class="nav-horizontal">
		<ul>
			<li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
			<li><a href="stock.html"><i class="fa fa-table"></i>Stock</a></li>
			<li><a href="contacto.html"><i class="fa fa-envelope"></i>Contact</a></li>
		</ul>
	</nav>
	<section class="front-articles">
		<h1>Stock</h1>
		<table>
			<tr>
				<th>ISBN</th>
				<th>Título</th>
				<th>Autor</th>
			</tr>
			<tr>
				<td>123456789</td>
				<td>Python for Dummies</td>
				<td>Alexa Duncan</td>
			</tr>
			<tr>
				<td>223456789</td>
				<td>Beginning React</td>
				<td>Steve Cecchinato</td>
			</tr>
			<tr>
				<td>323456789</td>
				<td>Kubernetes in Action</td>
				<td>Radamel Gunnermawan</td>
			</tr>
			<tr>
				<td>423456789</td>
				<td>Cryptocurrency investment</td>
				<td>Josef Zimmermann</td>
			</tr>
		</table>
	</section>
	<aside>
		<h2>Síguenos en Twitter</h2>
		<a class="twitter-timeline" data-lang="es" data-height="800" data-link-color="#589E47" href="https://twitter.com/NASA?ref_src=twsrc%5Etfw">Tweets by NASA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
	</aside>
	<div class="clearfix"></div>
	<footer>
		
	</footer>
</body>
</html>