body {
	font-family: 'Mali', cursive;
	font-size: 16px;
	color: #A9B0B0;
	background-color: #D8F4F5;
}
h1 {
	font-size: 2em;
	color: #589E47;
	margin: 1em;
}
h2 {
	font-size: 1.5em;
	color: #589E47;
	margin: 1em 0;
}
a {
	text-decoration: none;
	color: #589E47;
}
p {
	margin-bottom: 1em;
}
header {
	height: 50px;
	background-color: #589E47;
	text-align: left;
	padding-left: 1em;
}
.logo {
	font-size: 1.66em;
	color: #fff;	
	padding-top: 10px;
}
.nav-horizontal {
	height: 50px;
	margin-bottom: 1em;
	background-color: #B0E5B0;
	text-align: center;
}
.nav-horizontal ul {
	list-style: none;
}
.nav-horizontal ul li {
	display: inline-block;
	margin-right: 2em;
	margin-top: 1em;
}
.nav-horizontal ul li a {
	text-decoration: none;
	color: #589E47;
}
.nav-horizontal ul li a:hover {
	color: #fff;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
section.front-articles {
	float: left;
	background-color: #f4f4f4;
	min-height: 400px;
	width: 66.6%;
	margin-right: 1em;
	padding-bottom: 3em;
	box-sizing: border-box;
}
.front-articles article {
	padding: 1em;
}
aside {
	float: left;
	background-color: #f4f4f4;
	min-height: 400px;
	width: calc(33.3% - 1em);
	padding: 2em;
	box-sizing: border-box;
	padding-bottom: 3.75em;
}
footer {
	background-color: #355635;
	height: 100px;
	margin-top: 2em;
}
i.fa {
	margin-right: 0.5em;
}

article .article-image {
	float: left;
	width: 40%;
	margin-right: 1em;
}
article .article-text {
	float: left;
	width: calc(60% - 1em);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
img.responsive {
	width: 100%;
}
.panel {
    padding: 2em;
}
/* TABLES */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #589E47;
  background-color: #dcdcdc;
}
/* FORMS */
fieldset {
	padding: 1em;
	border-bottom: 1px solid #e3e3e3;
}
fieldset label {
	width: 40%;
	display: inline-block;
}
input[type="text"], input[type="email"], select {
	font-size: 1em;
	width: 250px;
}
textarea {
	vertical-align: top;
	width: 250px;
}
.btn {
	padding: 1em 2em;
  	text-align: center;
  	box-shadow: 5px 5px 5px #f3f3f3;
  	border-radius: 0.5em;
  	color: #fff;
}
.btn-gradient {
	background-image: linear-gradient(to right, #589E47 0%, #B0E5B0 100%);
}
.btn-gradient:hover {
	background-image: linear-gradient(to right, #589E47 30%, #B0E5B0 100%);
}
.text-center {
	text-align: center;
}