body {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	background-color: #eee;
}
header {
	color: #fff;
	background-color: #0072b0;
	padding: 1em;
	margin-bottom: 1em;
}
.banner {
	width: 100px;
	height: 50px;
	border: 1px solid #0072b0;
	border-radius: 0.5em;
}
.gradiente {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
	background: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}
main {
	box-sizing: border-box;
	float: left;
	width: calc(70% - 1em);
	margin-right: 1em;
	background-color: #fff;
	border-radius: 0.5em;
	border: 1px solid #0072b0;
	padding: 1em;
}
.lateral {
	box-sizing: border-box;
	float: left;
	width: 30%;
	background-color: #fff;
	border-radius: 0.5em;
	border: 1px solid #0072b0;
	padding: 2.5em;
}
.contenedor {
	margin: 0 auto;
	margin: 3em;
}